body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

#game {
    text-align: center;
}


#target {
    width: 200px;
    height: 200px;
    background-image: url('Wood.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Обеспечивает покрытие всей поверхности цели */
    border-radius: 50%;
    margin: 0 auto; /* Центрирование */
    position: fixed;
    bottom: 60%; /* Установить выше, относительно низа экрана */
    left: 50%;
    transform: translateX(-50%);
    animation: rotateTarget 3s linear infinite;
}


.knife {
    width: 10px;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: throwAnimation 0.5s ease forwards;
}

#knife-container {
    position: fixed; /* Фиксированное положение */
    bottom: 100px; /* Поднять над кнопкой */
    left: 50%; /* Центрирование */
    transform: translateX(-50%); /* Точное центрирование */
    width: 10px; /* Ширина контейнера равна ширине ножа */
    height: 40px; /* Высота контейнера равна высоте ножа */
}

#throwButton {
    position: fixed; /* Используем fixed, чтобы кнопка оставалась на одном месте */
    bottom: 20px; /* Отступ снизу */
    left: 50%; /* Центрирование кнопки по горизонтали */
    transform: translateX(-50%); /* Точное центрирование */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@keyframes throwAnimation {
    from {
        bottom: -40px;
    }
    to {
        bottom: 80px; /* Оставляем ножи втыкающимися на высоту 80px от нижней части цели */
    }
}

@keyframes rotateTarget {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

