body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

#game {
    text-align: center;
}


#target {
    width: 200px;
    height: 200px;
    background-image: url('Wood.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Обеспечивает покрытие всей поверхности цели */
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    animation: rotateTarget 3s linear infinite;
}


.knife {
    width: 10px;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: throwAnimation 0.5s ease forwards;
}

#throwButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@keyframes throwAnimation {
    from {
        bottom: -40px;
    }
    to {
        bottom: 80px; /* Оставляем ножи втыкающимися на высоту 80px от нижней части цели */
    }
}

@keyframes rotateTarget {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

